CAR DATABASE for Company X

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('car_data.csv', delimiter= ';')

df.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,Dealer
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,David
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,NaN
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Henry
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,NaN
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Henry

In [2]:
#Check all df columsn (names) 
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats', 'Dealer'],
      dtype='object')

In [3]:
# Rename the 'km_driven' column to 'Mileage'
df = df.rename(columns = {'km_driven': 'Mileage'})
    
# Rename the 'mileage' column to 'Kmpl'
df = df.rename(columns = {'mileage': 'Temp_kmpl'})

# Rename the columns 'selling_price', 'seller_type', and 'max_power'
df = df.rename(columns = {'selling_price': 'Price', 
                          'seller_type': 'Seller', 
                          'max_power':'Power'})

# Rename all columns to capitalize the string
df = df.rename(columns = lambda x: x.capitalize())

# Rename 'Tempkmpl' to 'Kmpl'
df = df.rename(columns = {'Temp_kmpl': 'Kmpl'})

# Verify that the column names have been changed
print(df.columns)

# Display the first 3 rows of the DataFrame
df.head(3)

Index(['Name', 'Year', 'Price', 'Mileage', 'Fuel', 'Seller', 'Transmission',
       'Owner', 'Kmpl', 'Engine', 'Power', 'Torque', 'Seats', 'Dealer'],
      dtype='object')

,Name,Year,Price,Mileage,Fuel,Seller,Transmission,Owner,Kmpl,Engine,Power,Torque,Seats,Dealer
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,David
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,NaN
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Henry

In [4]:
# Save work, for not longer needing this alterations

df.to_csv('car_data.csv')

# Review changes made before hand
df.columns

Index(['Name', 'Year', 'Price', 'Mileage', 'Fuel', 'Seller', 'Transmission',
       'Owner', 'Kmpl', 'Engine', 'Power', 'Torque', 'Seats', 'Dealer'],
      dtype='object')

DATA CLEANING

In [5]:
# Kmpl maintain unit of kmpl but drop the str
df['Kmpl'] = df['Kmpl'].astype(str).str.replace('km/kg', '')  # Remove 'km/kg' unit
df['Kmpl'] = df['Kmpl'].str.replace('kmpl', '')  # Remove 'kmpl' unit

# Convert from km/kg to kmpl
cover = df['Kmpl'].notnull() & df['Kmpl'].str.contains('km/kg')

# The conversion factor from km/kg to kmpl is 1.40
df.loc[cover, 'Kmpl'] = df[cover]['Kmpl'].str.replace('km/kg', '').astype(float) * 1.40

# Convert Kmpl to float
df['Kmpl'] = pd.to_numeric(df['Kmpl'], errors='coerce')

# Fill NaN Values
df['Kmpl'] = df['Kmpl'].apply(lambda x: np.nan if pd.isna(x) or str(x).strip() == '' else x)

# Show changes
df.head(5)

,Name,Year,Price,Mileage,Fuel,Seller,Transmission,Owner,Kmpl,Engine,Power,Torque,Seats,Dealer
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,David
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,NaN
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Henry
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,NaN
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Henry

In [7]:
'''
Engine Power

Use CC unit not (str) CC =  Cubic Capacity unit (Cubic cm)
Convert Engine to str
'''
df['Engine'] = df['Engine'].astype(str)

# Remove 'CC' string from Engine column
df['Engine'] = df['Engine'].str.replace('CC', '')

# Convert Engine to float
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

# Fill NaN values with 0
df['Engine'] = df['Engine'].fillna(0)

df.head(5)

,Name,Year,Price,Mileage,Fuel,Seller,Transmission,Owner,Kmpl,Engine,Power,Torque,Seats,Dealer
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74 bhp,190Nm@ 2000rpm,5.0,David
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52 bhp,250Nm@ 1500-2500rpm,5.0,NaN
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Henry
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90 bhp,22.4 kgm at 1750-2750rpm,5.0,NaN
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Henry

In [8]:
'''
Power

Use bhp unit not (str) bhp = brake horsepower
Convert Max Power to str
'''
df['Power'] = df['Power'].astype(str)

# Remove 'CC' string from Max Power column
df['Power'] = df['Power'].str.replace('bhp', '')

# Convert Max Power to float
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

# Fill NaN values with 0
df['Power'] = df['Power'].fillna(0)

df.head(5)

,Name,Year,Price,Mileage,Fuel,Seller,Transmission,Owner,Kmpl,Engine,Power,Torque,Seats,Dealer
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0,David
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5.0,NaN
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,"12.7@ 2,700(kgm@ rpm)",5.0,Henry
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,22.4 kgm at 1750-2750rpm,5.0,NaN
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,"11.5@ 4,500(kgm@ rpm)",5.0,Henry

BHP and HP are two different measures of power in a car. The key difference between them lies in how they are measured. Horsepower (HP) measures the power generated by the engine, while Brake Horsepower (BHP) measures how much of that power is actually sent to the wheels to make the car accelerate.

In [10]:
# Save work, for not longer needing this alterations

df.to_csv('car_data.csv')

# Review changes made before hand
df.head(1)

,Name,Year,Price,Mileage,Fuel,Seller,Transmission,Owner,Kmpl,Engine,Power,Torque,Seats,Dealer
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248.0,74.0,190Nm@ 2000rpm,5.0,David

PENDING

In [9]:
"""
Torque

First Value in Nm
Second Value RPMmin
Third Value RPMmax
Splitting into three columns
"""

'\nTorque\n\nFirst Value in Nm\nSecond Value RPMmin\nThird Value RPMmax\nSplitting into three columns\n'

Creation of a Database in MySQL